// pycharm generated
.idea
// quartus generated
db
incremental_db
output_files
simulation
*.qpf
*.qws
// makefile generated
*.cdf
*.cof

// animation generated
doc/*.png
doc/*.svg
//pip generated
doc/src
